<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Aplikace</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        input, textarea {
            padding: 10px;
            margin: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            border: 1px solid #ddd;
            margin: 5px;
            padding: 10px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

<h1>Random nadpis</h1>
<p>LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL</p>

<p>Nahodné číslo je: {{ cislo }}</p>

<!-- Formulář pro vkládání dat -->
<form action="/add_data" method="post">
    <label for="name">Jméno:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="message">Zpráva:</label>
    <textarea name="message" id="message" rows="4" required></textarea>
    <br>
    <input type="submit" value="Přidat data">
</form>

<!-- Formulář pro nahrání obrázků -->
<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="files">Vyberte obrázky:</label>
    <input type="file" name="files" id="files" multiple>
    <input type="submit" value="Nahrát obrázky">
</form>

<!-- Zobrazení nahraných obrázků -->
{% if image_filenames %}
    <h2>Nahrané obrázky:</h2>
    {% for image_filename in image_filenames %}
        <img src="{{ url_for('static', filename='uploads/' + image_filename) }}" alt="Nahraný obrázek">
    {% endfor %}
{% endif %}

<!-- Zobrazení uložených dat -->
{% if saved_data %}
    <h2>Uložená data:</h2>
    <ul>
        {% for data in saved_data %}
            <li>{{ data.name }}: {{ data.message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>
